EXPORT WORKSPACE_ENV=/opt
EXPORT MODEL_PATH=/opt/models
EXPORT REPLAYS_PATH=/opt/replays
EXPORT NUM_REPLAY_EPISODES=25000
EXPORT NUM_SIMPLE_AGENTS_EPISODES=50000
EXPORT REWARD_FAINTED_VALUE=5.0
EXPORT REWARD_HP_VALUE=1.0
EXPORT REWARD_STATUS_VALUE=1.0
EXPORT REWARD_INVALID_ACTION_VALUE=5.0
EXPORT REWARD_VICTORY_VALUE=30.0
