export WORKSPACE_ENV=/opt
export MODEL_PATH=/opt/models
export REPLAYS_PATH=/opt/replays
export NUM_REPLAY_EPISODES=25000
export NUM_SIMPLE_AGENTS_EPISODES=50000
export REWARD_FAINTED_VALUE=5.0
export REWARD_HP_VALUE=1.0
export REWARD_STATUS_VALUE=1.0
export REWARD_INVALID_ACTION_VALUE=5.0
export REWARD_VICTORY_VALUE=30.0
